@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-hex: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-hex: #000000;
  }
}

body {
  font-family: var(--font-openSans);
  background-color: var(--background-hex);
}

p {
  font-family: var(--font-poppins);
}